@model IEnumerable<InAndOut.Models.ExpenseType>

<div class="Container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Expense Items List</h2>
        </div>

        <div class="col-6 text-right">

            @*Button to create a new item and to redirect to the view to great a new item*@

            <a asp-controller="ExpenseType" asp-action="Create" class="btn btn-primary">Create New Expense Type</a>

        </div>

        @if (Model.Count() > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Name  
                        </th>
                        <th>
                            Options
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @*every item in the model class of Item it will list through*@

                    @foreach (var item in Model)
                    {
                        <tr>
                           
                            <td width="35%">@item.Name</td>
                            <td width="30%">
                                <div class="w-100 btn btn-group" role="group">

                                    @*Button to create a new item and to redirect to the view to great a new item
                                      asp-route-Id: Helps us know which object we want to update or delete
                                      mx-1 gives it a margin of one
                                    *@

                                    <a asp-controller="ExpenseType" asp-action="Update" asp-route-Id="@item.ID" class="btn btn-primary" mx-1>Update</a>
                                    <a asp-controller="ExpenseType" asp-action="Delete" asp-route-Id="@item.ID" class="btn btn-danger" mx-1>Delete</a>

                                </div>
                            </td>

                        </tr>
                    }

                </tbody>

            </table>
        }
        else
        {
            @*If there is not items in the list, this will display and it is help me defend my code and troubleshoot my code*@
            <p> No items created yet!</p>
        }

    </div>
</div>
