@model InAndOut.Models.Item


<h1>Create Items</h1>

@*Horizontal rule created to add some space between Header and form*@
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                @*
                    Asp-for: Allows me to get the item name from my model 
                    this helps not show hard coded values and string. 
                    input tag: item name property

                    form control class to make it look like a form 

                    <strong></strong>  - Used to make Label of name in bold

                *@
                <strong><label asp-for="Borrower" class="control-label"></label></strong>
                <input asp-for="Borrower" class="form-control" />
                <span asp-validation-for="Borrower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="LenderName" class="control-label"></label></strong>
                <input asp-for="LenderName" class="form-control" />
                <span asp-validation-for="LenderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="ItemName" class="control-label"></label></strong>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />

                @*Button added here to return back to the list view. Asp-controller does not needed but I want it in to be less confusing*@
                <a asp-controller="Item" asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>


